@model Practica1.Models.Alumno

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Detalles del Alumno</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NumeroDeControl)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumeroDeControl)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Carrera)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Carrera)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaDeNacimiento)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaDeNacimiento)
                </dd>
            </dl>

            <div class="mt-4 text-center">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Detalle</a>
                <a asp-action="Index" class="btn btn-secondary">Regresar a la lista</a>
            </div>
        </div>
    </div>
</div>
